<div class="mx-auto max-w-full px-24 py-12">
  <div class="mx-auto max-w-full">
    <div 
      data-controller="board" 
      data-api-url="<%= api_board_lists_path(@board) %>" 
      data-board-lists-url="<%= board_lists_path(@board) %>"
      id="board" 
      class="overflow-x-scroll pb-4">
    </div>
  </div>
</div>
